.container {
  margin-top: 3%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}

.message + li {
  margin-top: 10px;
}

.message span {
  padding-top: 20px;
  font-weight: bold;
  font-size: 11px;
  opacity: 0.45;
}
